<html>
<title>ComplaintRegister</title>
<head><center>
<style>
    a.link-btn {
        color: #fff;
        background: #337ab7;
        display:inline-block;
        border: 1px solid #2e6da4;        
        font: bold 14px Arial, sans-serif;
        text-decoration: none;
        border-radius: 2px;
        padding: 6px 20px;
        margin-top: 10px 
    }
    a.link-btn:hover {
        background-color: #245582;
        border-color: #1a3e5b;
    }
    
    
</style>

<h1>ABC LOGISTICS AND CONTAINER SERVICES INDIA PVT LTD</h1>
<h2>Home Page</h2>
</centre></head>


<body bgcolor="silver" background="https://wallpapercave.com/wp/wp3704690.png">
 
 <form action = "/" method="POST">
 
    <a href="http://127.0.0.1:5000/regis" class="link-btn">Register your Complaint</a>
    <br/>
    <a href="http://127.0.0.1:5000/status" class="link-btn">Check your Complaint Status</a>
   
 </form>  
 
 
</body>
</html>